[Desktop Entry]
Type=Application
Name=Synapse Indicator
Comment=Search through a variety of resources
GenericName=Search Utility
Exec=io.github.ellie_commons.indicator-synapse %U
Icon=io.github.ellie_commons.indicator-synapse
Terminal=false
Categories=GNOME;GTK;Utility;
